.container {
  background-color: #ca1616;
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.title {
  font-size: 5rem;
}
.title3 {
  font-size: 4rem;
}

.footer {
  height: 100vh;
  font-size: 2rem;
  color: #ffffff;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 40vh;
  padding-top: 200px;
}

.footer a {
  font-family: 'Courier New', Courier, monospace;
}

.description {
  font-size: 3rem;
}

.whiteground {
  background-color: #ffffff;
  height: 100%;
  width: 96%;
  margin-top: 2rem;
  padding: 0 40px;
}

.footnav {
  color: #000000;
  font-weight: 700;
  font-size: 3rem;
  text-transform: uppercase;
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}

.footnav a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.footnav a:hover {
  opacity: 0.6;
}

.footnav p {
  font-weight: 700 !important;
}

.footer div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer p > a {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 167px;
  height: 63.6px;
  background-color: rgb(250, 167, 0);
  vertical-align: text-bottom;
  border-radius: 3px;
  color: #ffff;
  border-color: #faa700;
  border-radius: 3px;
  margin: 32px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
}

.footer p > a:hover {
  opacity: 0.75;
}

.test {
  margin-top: 48px;
}

.test svg {
  margin: 0 4px;
}

.test svg:hover {
  opacity: 0.5;
}

.virsla {
  padding: 42px 0px;
}

.virsla:hover {
  transform: translateY(-15px);
}

.topnav {
  position: absolute;
  width: 100%;
  min-width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 2.5rem;
  font-weight: 900;
  top: 130px;
}

.topnav div {
  margin: 0 100px;
}

.topnav a {
  margin: 0 16px;
  text-transform: uppercase;
  font-weight: 900;
}

.logo {
  padding-bottom: 24px;
}

.logo:hover {
  scale: 1.1;
}
